%h1 Welcome!
%p
  Welcome to accessible game of world! hope you will injoi the game! our company create accessible games for the blind gamers. this is our first accessible game for enthusiast gamers.
= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'do you want to leave this game?'}